*{
  margin: 0;
  padding: 0;
}

table{
  width: 100%;
  border-collapse: collapse;
}

tr{
  text-align: center;
}

th{
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

td{
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.main{
  width: 50%;
  margin: 0 auto;
}

.del{
  padding: 10px 25px;
  background-color: #DD5044;
  border: 1px solid #DD5044;
  border-radius: 5px;
  color: #fff;
  font-weight:bold;
  letter-spacing: 1px;
}

.pass{
  padding: 10px 25px;
  background-color: #1AA160;
  border: 1px solid #1AA160;
  border-radius: 5px;
  color: #fff;
  font-weight:bold;
  letter-spacing: 1px;
}

#add{
  margin-left:20px;
  margin-top: 20px; 
  padding: 10px 25px;
  border: 1px solid #0079D7;
  background-color: #0079D7;
  border-radius: 5px;
  color: #fff;
  font-weight:bold;
  letter-spacing: 1px;
}