.container {
  width: 80%;
  margin: auto;
}
.def {
  height: 100px;
  width: 100%;
  background: #FFCE45;
  transition: all 1s ease;
  font-size:20px;
  color: black;
  text-align: center;
  line-height: 100px;
}
.change {
  display: inline-block;
  height: 1000px;
  width: 400px;
  background: #DD564A;
  line-height: 1000px;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
}